<!doctype html>
<html>
    <head>
        <title>Voting - Shipitday</title>
        <meta type="charset" content="utf-8"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'voting/style.css' %}">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/"><h1>Image voting</h1></a>
        </header>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
        <footer>
            {% if user.is_authenticated %}
                <span>Logged in as: {{ user.get_username }}</span>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'settings' %}">Settings</a>
            {% endif %}
        </footer>
    </body>
</html>