{% extends 'voting/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div id="gallery" class="gallery"></div>

    <script>
        window.has_voted = "{{user_has_voted}}" === "True";
        window.csrf_token = "{{ csrf_token }}";
        window.voting_session = "{{voting_session}}";

        window.images = [];
        {% for img in images %}
            window.images.push({
                id: '{{img.pk}}',
                url: '{{img.image}}',
                author: '{{img.user}}',

                {% if user_has_voted %}
                score: {{ img.get_score }},
                {% endif %}
            });
        {% endfor %}
    </script>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script type="text/babel" src="{% static 'voting/gallery.js' %}"></script>
{% endblock %}