{% extends 'voting/base.html' %}

{% block content %}
    See current voting sessions:

    <ul>
    {% for session in sessions %}
        <li><a href="list/{{ session.id }}/">Session {{ session.id }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}