body {
    padding: 20px;
}

header, footer {
    text-align: center;
}

footer {
    padding: 20px;
}

div.content {
    margin: auto;
    max-width: 800px;
    background-color: #ddd;

    padding: 20px;
    border-radius: 20px;

    min-height: 200px;
}

/* Image gallery view */
div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.image-container {
    background-color: #ccc;
    padding: 10px;
    margin: 5px;
}

div.image-container img {
    max-width: 200px;
    background-color: black;
}

div.image-container img.enlarged {
    max-width: 80%;
    max-height: 80%;
    /*transition: 0.5s;*/

    z-index: 2;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.8);       
}
